*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    background-color: white;
}

header {
    --header-height: 60px;

    position: relative;
    width: 100%;
    height: var(--header-height);
    min-height: var(--header-height);

    display: flex;
    justify-content: center;
    align-items: center;
}

header > #title {
    color: #303030;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

main {
    flex: 1;
    width: 100%;
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    height: fit-content;
    width: 800px;
    max-width: 100%;

    margin-top: -32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (width <= 900px) {
    #game {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
    }

    main {
        padding-top: calc(2rem + 60px);
    }
}

@media (height <= 500px) {
    main {
        padding-top: calc(2rem + 60px);
    }
}

.board-wrapper {
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    aspect-ratio: 1;
    overflow: visible;
    position: relative;
}

.board {
    width: 100%;
    height: 100%;

    border-collapse: collapse;
    border-style: solid;

    border-width: 1px;
    border-color: rgb(255, 130, 0, 0.4);

    position: relative;
    overflow: visible;
}

.board td {
    border-width: 1px;
    border: 1px solid rgb(180,180,255);
}

.tile {
    width: 100%;
    height: 100%;
    position: relative;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;

    transition: background-color 0.05s ease-out;
}
.tile[selectable]:hover {
    cursor: pointer;
    background-color: rgb(180, 180, 255, 0.2);
}
.tile[selectable]:active {
    background-color: rgb(180, 180, 255, 0.4);
}

.marker-left {
    position: absolute;
    right: calc(100% + 12px);
    top: 50%;
    translate: 0% -50%;
    user-select: none;
}

.marker-top {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    translate: -50% 0%;
    user-select: none;
}

.board-ships {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
}

.ship {
    position: absolute;
    left: 0px;
    top: 0px;

    box-sizing: border-box;
    border: 1px solid rgb(255, 130, 0);
    outline: 1px solid rgb(255, 130, 0);
    background-color: rgb(255, 130, 0, 0.3);
    z-index: 1000;

    touch-action: none;
}

.ship:hover {
    background-color: rgb(255, 130, 0, 0.4);
}
.ship[movable]:hover {
    cursor: grab;
}
.ship[movable].dragging {
    cursor: grabbing;
    background-color: rgb(255, 130, 0, 0.5);
    z-index: 1001;
}
.ship[movable].snapping {
    border: 2px solid rgb(50,255,50);
    outline: 1px solid rgb(50,255,50);
    background-color: rgb(50,255,50,0.2);
    z-index: 1001;
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);

  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);

  }
}

.ship.error {
    animation-duration: 0.5s;
    animation-iteration-count: once;
    animation-name: shake;
    border: 2px solid rgb(255,50,50);
    outline: 1px solid rgb(255,50,50);
    background-color: rgb(255,50,50,0.2);
}

#board-play {
    position: absolute;
    top: -20px;
    left: -26px;
    width: calc(100% + 52px);
    height: calc(100% + 30px);
    z-index: 1002;

    background-color: rgb(255,255,255,0.7);
    backdrop-filter: grayscale(60%);
}

#board-play button {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border: none;
    border-radius: 8px;
    font-size: 1.5rem;

    width: 180px;
    height: 70px;

    background-color: hsl(170deg 100% 27.5%);
    font-weight: 600;
    color: white;
    font-family: monospace;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.4);

    transition: scale 0.075s ease-out;
}
#board-play button:hover {
    cursor: pointer;
    background-color: hsl(170deg 100% 30.0%);
}
#board-play button:active {
    background-color: hsl(170deg 100% 32.5%);
    scale: 0.96;
}

.board-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    translate: -50% 0%;
    text-align: center;
}
.board-info-player {
    font-weight: 600;
    font-size: 1.25rem;
}

.board-hits {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
}
.hit {
    position: absolute;
    left: 0px;
    top: 0px;

    outline: 1px solid red;
    background-color: blue;
    z-index: 1003;

    scale: 0.0;
    transition: scale 0.2s ease-in-out;

    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.hit[visible] {
    scale: 0.8;
}
.hit[hit] {
    background-color: red;
}

html:has(#modal-div[open]), body:has(#modal-div[open]) {
    overflow: hidden;
}
#modal-div {
    z-index: 2001;
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: transparent;
    padding: 2rem;

    display: grid;
    place-items: center;

    overflow: auto;
    pointer-events: none;
}
#modal-div[open] {
    pointer-events: all;
}
#modal-backdrop {
    --transition_dur: 0.2s;

    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(0,0,0,0.2);
    opacity: 0;
    transition: opacity var(--transition_dur) ease-in-out;
}
#modal-backdrop[open] {
    pointer-events: all;
    opacity: 1;
}
.modal {
    position: relative;
    --transition_dur: 0.2s;

    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: fit-content;

    pointer-events: none;
    background-color: white;

    border-radius: 1rem;
    padding: 1rem;

    translate: 0px 30px;
    opacity: 0;
    scale: 0.85;
    transition: 
        translate var(--transition_dur) ease-in-out, 
        scale var(--transition_dur) ease-in-out, 
        opacity var(--transition_dur) ease-in-out;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;

    grid-row: 1;
    grid-column: 1;
}
.modal[open] {
    pointer-events: all;
    opacity: 1;
    translate: 0px 0px;
    scale: 1;
}
.modal-title {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;

    background-color: #303030;
    padding: 8px;
    border-radius: 10px;
    font-size: 1rem;

    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
#modal-gameover-info {
    margin-top: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #303030;

    text-align: center;
    line-height: 1.75;
}
.modal-ok {
    background-color: hsl(170deg 100% 27.5%);
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    margin-top: 16px;
    color: white;
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: 600;
    transition: scale 0.075s ease-out;
    scale: 1;
}
.modal-ok:hover {
    cursor: pointer;
    background-color: hsl(170deg 100% 30.0%);
}
.modal-ok:active {
    background-color: hsl(170deg 100% 32.5%);
    scale: 0.96;
}

#board-randomize {
    border-radius: 8px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid #aaaaaa;
    background-color: rgb(247,247,247);
    font-size: 1.1rem;
}
#board-randomize:hover {
    cursor: pointer;
    background-color: rgb(240,240,240);
}
#board-randomize:active {
    background-color: rgb(233,233,233);
}
#board-randomize:disabled {
    cursor: not-allowed;
    border: 1px solid #aaaaaa;
}

#button-info {
    position: absolute;
    right: 16px;
    top: 50%;
    translate: 0 -50%;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    background-color: rgb(247,247,247);
    font-size: 1.1rem;
}
#button-info:hover {
    cursor: pointer;
    background-color: rgb(240,240,240);
}
#button-info:active {
    background-color: rgb(233,233,233);
}

#modal-info {
    max-width: 450px;
}
#modal-info-info {
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #303030;

    text-align: center;
    line-height: 1.75;
}

#div-vs {
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-right: 8px;
    margin-top: 16px;
}